.jumbotron {
  background-color: #ffbf69;
  color: white;
  margin-top: 50px;
}

.card-product  {
  background-color: #cbf3f0;
  flex: 1 150px;
  padding: 2px 2px 2px 2px;
}

.btn-action {
  width: 100%;
}
footer {
  padding: 10px 10px 10px;
  background-color: #2ec4b6;
  margin-bottom: 1px;
  color: white;
}
